.margin-top-bottom-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-20 {
    margin: 20px;
}

.padding-top-bottom-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.test {
    display: table;
}

.test > .form-control {
    display: table-cell;
    margin-left: -3px;
}

.test > span {
    display: table-cell;
    width: 1%;
    padding: 0 3px;
}

.hyphen {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}